<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
	  <meta charset="UTF-8">
	  <meta name="renderer" content="webkit">
	  <title>kefir.atom-react-demo</title>
  </head>
  <body>
  <div id="root">
  </div>
  </body>
</html>